<nav>
     <!-- <a class="navBar" href="/">Lets Stock It</a> -->

     <!-- <%= link_to('Home', root_path) %>
     <%= link_to('About', static_about_path) %>
     <%= link_to('Contact', static_contact_path) %>
     <%= link_to('Log In', new_user_session_path) %>
     <%= link_to('Sign Up', new_user_registration_path) %> -->

     <a class="navBar" href="/">Home</a>
     <a class="navBar" href="/static/about">About</a>
     <a class="navBar" href="/static/contact">Contact</a>
     <%if current_user%><a class="navBar" href="/stocks/profile">Profile</a>
     <% end %>
     <!-- <a class="navBar" href="/stocks/profile">Profile</a> -->
     <a class="navBar" href="/users/sign_in">Log In</a>
     <a class="navBar" href="/users/sign_up">Sign Up</a>

</nav>
<%= render 'partials/search' %>
